/* MEDIA MOBILE */
a {
  text-decoration: none; }

h1 {
  font-size: 4rem; }

h2 {
  font-size: 3rem;
  font-weight: 600; }

.color-white {
  color: #fff; }

.of-h {
  overflow: hidden; }

@media (max-width: 700px) {
  h1 {
    font-size: 2.9rem; }
  h2 {
    font-size: 1.8rem; } }

/* HOME vh BACKGROUND */
.bg-img-home {
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(rgba(4, 9, 30, 0.6), rgba(4, 9, 30, 0.6)), url(../assets/background.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden; }

/* BG-BANNER-DOT */
/* BOTON-HOVER */
/* FLEXBOX [CONTAINER(ITEM)] */
/* CARD INICIO */
/* BORDER FOOTER */
.bd-lr {
  border-right: 1px solid #808080;
  border-left: 1px solid #808080; }

/* BACKGROUND REPEAT */
.bg-repeat {
  background-image: url("../assets/bgRepeat.jpg");
  background-repeat: repeat-x; }

/* MEDIA MOBILE */
a {
  text-decoration: none; }

h1 {
  font-size: 4rem; }

h2 {
  font-size: 3rem;
  font-weight: 600; }

.color-white {
  color: #fff; }

.of-h {
  overflow: hidden; }

@media (max-width: 700px) {
  h1 {
    font-size: 2.9rem; }
  h2 {
    font-size: 1.8rem; } }

/* HOME vh BACKGROUND */
.bg-img-home {
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(rgba(4, 9, 30, 0.6), rgba(4, 9, 30, 0.6)), url(../assets/background.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden; }

/* BG-BANNER-DOT */
/* BOTON-HOVER */
/* FLEXBOX [CONTAINER(ITEM)] */
/* CARD INICIO */
/* BORDER FOOTER */
.bd-lr {
  border-right: 1px solid #808080;
  border-left: 1px solid #808080; }

/* BACKGROUND REPEAT */
.bg-repeat {
  background-image: url("../assets/bgRepeat.jpg");
  background-repeat: repeat-x; }

* {
  padding: 0;
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  overflow-x: hidden; }

.bgBody {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.6), rgba(4, 9, 30, 0.6)), url(../assets/background.jpg);
  background-position: center;
  background-size: cover;
  position: relative; }

/* MEDIA MOBILE */
a {
  text-decoration: none; }

h1 {
  font-size: 4rem; }

h2 {
  font-size: 3rem;
  font-weight: 600; }

.color-white {
  color: #fff; }

.of-h {
  overflow: hidden; }

@media (max-width: 700px) {
  h1 {
    font-size: 2.9rem; }
  h2 {
    font-size: 1.8rem; } }

/* HOME vh BACKGROUND */
.bg-img-home {
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(rgba(4, 9, 30, 0.6), rgba(4, 9, 30, 0.6)), url(../assets/background.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden; }

/* BG-BANNER-DOT */
/* BOTON-HOVER */
/* FLEXBOX [CONTAINER(ITEM)] */
/* CARD INICIO */
/* BORDER FOOTER */
.bd-lr {
  border-right: 1px solid #808080;
  border-left: 1px solid #808080; }

/* BACKGROUND REPEAT */
.bg-repeat {
  background-image: url("../assets/bgRepeat.jpg");
  background-repeat: repeat-x; }

/*BANNER MAIN*/
.row-main {
  align-items: center;
  overflow: visible;
  min-height: 70vh;
  width: 100%; }

.my-row {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center; }
  .my-row .box-main {
    overflow: visible;
    color: #fff;
    text-align: center; }
    .my-row .box-main p {
      font-size: 1rem;
      margin: 10px 5px 40px; }
    .my-row .box-main .boton-main {
      text-decoration: none;
      text-align: center;
      color: #fff;
      border: 1px solid #fff;
      padding: 1rem 2rem;
      font-size: 0.85rem;
      background: transparent;
      cursor: pointer;
      transition: background 1s 0s ease, border 1s 0s ease; }
      .my-row .box-main .boton-main:hover {
        border: 1px solid #f44336;
        background: #f44336; }

nav .bi {
  display: none; }

/* BANNER PRODUCTOS */
.my-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; }
  .my-row .item-column {
    box-sizing: border-box;
    padding: 6rem 12px;
    background: rgba(255, 243, 243, 0.8);
    flex-basis: 40%;
    display: flex;
    justify-content: center;
    align-items: center; }
    .my-row .item-column h2 {
      text-align: start;
      margin-left: 2rem; }
    .my-row .item-column img {
      max-width: 70%;
      border-radius: 50%; }

/*	MEDIA MOBILE */
@media (max-width: 700px) {
  .my-row {
    flex-direction: column; }
    .my-row .item-column {
      padding: 3.5rem 0; }
      .my-row .item-column h2 {
        text-align: center;
        margin: 0; } }

/* GRID PRODUCTOS */
.bg-banner-main {
  align-items: center;
  background-color: #ffffff;
  background-image: radial-gradient(#f78a45 0.8px, transparent 0.8px), radial-gradient(#f78a45 0.8px, #ffffff 0.8px);
  background-size: 32px 32px;
  background-position: 0 0,16px 16px;
  min-height: 16rem; }

.title-productos {
  font-size: 3rem;
  color: black;
  margin: 2rem auto;
  text-align: center; }

.my-grid-container {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  background: linear-gradient(to right, #FFFFFF, #ECE9E6);
  gap: 20px;
  justify-items: center;
  align-items: end;
  overflow: hidden; }
  .my-grid-container .my-grid-item {
    margin-bottom: 2rem;
    text-align: center; }
    .my-grid-container .my-grid-item a {
      color: #000000; }
      .my-grid-container .my-grid-item a img {
        max-width: 300px;
        max-height: 200px; }

@media (max-width: 700px) {
  .my-grid-container {
    grid-template-columns: 100%;
    row-gap: 3rem; } }

/* BANNER SERVICIOS */
.my-bg-gradient {
  background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%); }

.my-row .servicios {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  margin: 3rem auto;
  text-align: center;
  color: #fff; }
  .my-row .servicios h2 {
    font-size: 2.8rem; }

/* SERVICIOS MAIN CARD */
.my-row {
  overflow: visible; }
  .my-row .flex-item-card {
    flex-basis: 30%;
    background: #CDCDCD;
    border-radius: 10px;
    padding: 15px 10px;
    box-sizing: border-box;
    text-align: center;
    background: #C9CCD3;
    background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
    margin: 0 1rem 2rem;
    transition: all 0.4s 0s ease; }
    .my-row .flex-item-card:hover {
      box-shadow: 0 0 30px rgba(0, 0, 0, 0.8);
      transform: scale(1.1); }
    .my-row .flex-item-card h3 {
      margin-bottom: 0.8rem; }
    .my-row .flex-item-card img {
      border-radius: 10px;
      width: 100%;
      margin-bottom: 1rem; }
    .my-row .flex-item-card p {
      font-weight: 400;
      color: #000000; }
  .my-row .btn-info {
    text-decoration: none;
    text-align: center;
    color: #fff;
    border: 1px solid #fff;
    padding: 1rem 2rem;
    font-size: 0.85rem;
    background: transparent;
    cursor: pointer;
    transition: background 1s 0s ease, border 1s 0s ease;
    margin: 2rem 3rem 1.5rem;
    padding: 1rem 6rem; }
    .my-row .btn-info:hover {
      border: 1px solid #f44336;
      background: #f44336; }

/* MEDIA MOBILE */
a {
  text-decoration: none; }

h1 {
  font-size: 4rem; }

h2 {
  font-size: 3rem;
  font-weight: 600; }

.color-white {
  color: #fff; }

.of-h {
  overflow: hidden; }

@media (max-width: 700px) {
  h1 {
    font-size: 2.9rem; }
  h2 {
    font-size: 1.8rem; } }

/* HOME vh BACKGROUND */
.bg-img-home {
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(rgba(4, 9, 30, 0.6), rgba(4, 9, 30, 0.6)), url(../assets/background.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden; }

/* BG-BANNER-DOT */
/* BOTON-HOVER */
/* FLEXBOX [CONTAINER(ITEM)] */
/* CARD INICIO */
/* BORDER FOOTER */
.bd-lr {
  border-right: 1px solid #808080;
  border-left: 1px solid #808080; }

/* BACKGROUND REPEAT */
.bg-repeat {
  background-image: url("../assets/bgRepeat.jpg");
  background-repeat: repeat-x; }

/* NAVBAR */
nav {
  display: flex;
  margin: 0 10rem;
  justify-content: space-between;
  align-items: center; }
  nav img {
    width: 50px; }

.nav-links {
  flex: 1;
  text-align: right;
  margin: 2rem 0; }
  .nav-links ul li {
    list-style: none;
    display: inline-block;
    position: relative;
    margin: 0 1rem; }
    .nav-links ul li a {
      color: #fff;
      text-decoration: none;
      font-size: 13px;
      font-weight: 600; }

.nav-links ul li::after {
  content: '';
  width: 0%;
  height: 2px;
  background: #f44336;
  display: block;
  margin: auto;
  transition: 0.5s; }

.nav-links ul li:hover::after {
  width: 100%; }

/*	MEDIA MOBILE */
@media (max-width: 700px) {
  .nav-links {
    margin: 0;
    position: absolute;
    background: #f44336;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 3;
    transition: 1s; }
    .nav-links ul {
      padding: 2rem; }
      .nav-links ul li {
        display: block;
        margin: 1rem 0 0; }
  nav {
    margin: 1rem 2rem; }
    nav .bi {
      display: block;
      color: #fff;
      margin: 10px;
      font-size: 22px;
      cursor: pointer; } }

/* MEDIA MOBILE */
a {
  text-decoration: none; }

h1 {
  font-size: 4rem; }

h2 {
  font-size: 3rem;
  font-weight: 600; }

.color-white {
  color: #fff; }

.of-h {
  overflow: hidden; }

@media (max-width: 700px) {
  h1 {
    font-size: 2.9rem; }
  h2 {
    font-size: 1.8rem; } }

/* HOME vh BACKGROUND */
.bg-img-home {
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(rgba(4, 9, 30, 0.6), rgba(4, 9, 30, 0.6)), url(../assets/background.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden; }

/* BG-BANNER-DOT */
/* BOTON-HOVER */
/* FLEXBOX [CONTAINER(ITEM)] */
/* CARD INICIO */
/* BORDER FOOTER */
.bd-lr {
  border-right: 1px solid #808080;
  border-left: 1px solid #808080; }

/* BACKGROUND REPEAT */
.bg-repeat {
  background-image: url("../assets/bgRepeat.jpg");
  background-repeat: repeat-x; }

.footer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  background: rgba(255, 243, 243, 0.8);
  width: 100%;
  text-align: center;
  padding: 30px 0 15px;
  overflow: hidden; }
  .footer .my-row {
    /*background: rgba(255, 243, 243, 0.8);*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around; }
    .footer .my-row .icono-column {
      box-sizing: border-box;
      padding: 20px 12px;
      flex-basis: 30%;
      display: flex;
      flex-direction: column;
      align-items: center; }
      .footer .my-row .icono-column .bi {
        font-size: 2rem;
        font-weight: 600;
        color: #000000; }
  .footer h5 {
    font-size: 1rem;
    color: #808080;
    font-weight: 600;
    transition: color 0.7s 0s ease; }
    .footer h5:hover {
      color: #ad6661; }
  .footer p {
    font-size: 0.7rem;
    color: #808080; }
  .footer .iconos {
    display: flex;
    justify-content: center; }
    .footer .iconos .bi {
      margin: 0rem 0.5rem;
      color: #808080;
      transition: color 0.7s 0s ease; }
      .footer .iconos .bi:hover {
        color: #ad6661; }

@media (max-width: 700px) {
  .footer .my-row {
    flex-direction: column; } }

/* MEDIA MOBILE */
a {
  text-decoration: none; }

h1 {
  font-size: 4rem; }

h2 {
  font-size: 3rem;
  font-weight: 600; }

.color-white {
  color: #fff; }

.of-h {
  overflow: hidden; }

@media (max-width: 700px) {
  h1 {
    font-size: 2.9rem; }
  h2 {
    font-size: 1.8rem; } }

/* HOME vh BACKGROUND */
.bg-img-home {
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(rgba(4, 9, 30, 0.6), rgba(4, 9, 30, 0.6)), url(../assets/background.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden; }

/* BG-BANNER-DOT */
/* BOTON-HOVER */
/* FLEXBOX [CONTAINER(ITEM)] */
/* CARD INICIO */
/* BORDER FOOTER */
.bd-lr {
  border-right: 1px solid #808080;
  border-left: 1px solid #808080; }

/* BACKGROUND REPEAT */
.bg-repeat {
  background-image: url("../assets/bgRepeat.jpg");
  background-repeat: repeat-x; }

.bg-gradient-row {
  background-image: linear-gradient(-225deg, #FF3CAC 0%, #562B7C 52%, #2B86C5 100%); }

.bg-gradient-row-inv {
  background-image: linear-gradient(225deg, #FF3CAC 0%, #562B7C 52%, #2B86C5 100%); }

.bg-banner-servicio {
  align-items: center;
  background-color: #ffffff;
  background-image: radial-gradient(#f78a45 0.8px, transparent 0.8px), radial-gradient(#f78a45 0.8px, #ffffff 0.8px);
  background-size: 32px 32px;
  background-position: 0 0,16px 16px;
  min-height: 16rem; }

/* Servicios */
.servicios-main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  color: #000;
  margin-bottom: 0.8rem; }

/* Carousel */
.carousel {
  max-height: 70vh; }
  .carousel .carousel-item {
    max-height: 70vh;
    overflow: hidden; }

.flex-row-contenedor {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 2% 1%; }
  .flex-row-contenedor .flex-item-card {
    flex-basis: 30%;
    background: #CDCDCD;
    border-radius: 10px;
    padding: 15px 10px;
    box-sizing: border-box;
    text-align: center;
    background: #C9CCD3;
    background-image: linear-gradient(-225deg, #A8BFFF 0%, #884D80 100%);
    margin: 2rem 0; }

.parrafo-servicio {
  font-size: 1.3rem; }

/* MOBILE */
@media (max-width: 700px) {
  .flex-row-contenedor {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5%; }
  .parrafo-servicio {
    font-size: 1rem; } }

/* MEDIA MOBILE */
a {
  text-decoration: none; }

h1 {
  font-size: 4rem; }

h2 {
  font-size: 3rem;
  font-weight: 600; }

.color-white {
  color: #fff; }

.of-h {
  overflow: hidden; }

@media (max-width: 700px) {
  h1 {
    font-size: 2.9rem; }
  h2 {
    font-size: 1.8rem; } }

/* HOME vh BACKGROUND */
.bg-img-home {
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(rgba(4, 9, 30, 0.6), rgba(4, 9, 30, 0.6)), url(../assets/background.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden; }

/* BG-BANNER-DOT */
/* BOTON-HOVER */
/* FLEXBOX [CONTAINER(ITEM)] */
/* CARD INICIO */
/* BORDER FOOTER */
.bd-lr {
  border-right: 1px solid #808080;
  border-left: 1px solid #808080; }

/* BACKGROUND REPEAT */
.bg-repeat {
  background-image: url("../assets/bgRepeat.jpg");
  background-repeat: repeat-x; }

.bg-banner-pro {
  align-items: center;
  background-color: #ffffff;
  background-image: radial-gradient(#f78a45 0.8px, transparent 0.8px), radial-gradient(#f78a45 0.8px, #ffffff 0.8px);
  background-size: 32px 32px;
  background-position: 0 0,16px 16px;
  min-height: 16rem; }

.btn-comprar {
  text-decoration: none;
  text-align: center;
  color: #fff;
  border: 1px solid #fff;
  padding: 1rem 2rem;
  font-size: 0.85rem;
  background: transparent;
  cursor: pointer;
  transition: background 1s 0s ease, border 1s 0s ease;
  align-self: flex-end;
  color: #f44336;
  margin: 1rem auto;
  transition: color 1s 0s ease, background 1s 0s ease, border 1s 0s ease; }
  .btn-comprar:hover {
    border: 1px solid #f44336;
    background: #f44336; }
  .btn-comprar:hover {
    color: #fff; }

/* MEDIA MOBILE */
a {
  text-decoration: none; }

h1 {
  font-size: 4rem; }

h2 {
  font-size: 3rem;
  font-weight: 600; }

.color-white {
  color: #fff; }

.of-h {
  overflow: hidden; }

@media (max-width: 700px) {
  h1 {
    font-size: 2.9rem; }
  h2 {
    font-size: 1.8rem; } }

/* HOME vh BACKGROUND */
.bg-img-home {
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(rgba(4, 9, 30, 0.6), rgba(4, 9, 30, 0.6)), url(../assets/background.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden; }

/* BG-BANNER-DOT */
/* BOTON-HOVER */
/* FLEXBOX [CONTAINER(ITEM)] */
/* CARD INICIO */
/* BORDER FOOTER */
.bd-lr {
  border-right: 1px solid #808080;
  border-left: 1px solid #808080; }

/* BACKGROUND REPEAT */
.bg-repeat {
  background-image: url("../assets/bgRepeat.jpg");
  background-repeat: repeat-x; }

.bg-banner-contacto {
  align-items: center;
  background-color: #ffffff;
  background-image: radial-gradient(#f78a45 0.8px, transparent 0.8px), radial-gradient(#f78a45 0.8px, #ffffff 0.8px);
  background-size: 32px 32px;
  background-position: 0 0,16px 16px;
  min-height: 16rem; }

.btn-form-enviar {
  text-decoration: none;
  text-align: center;
  color: #fff;
  border: 1px solid #fff;
  padding: 1rem 2rem;
  font-size: 0.85rem;
  background: transparent;
  cursor: pointer;
  transition: background 1s 0s ease, border 1s 0s ease; }
  .btn-form-enviar:hover {
    border: 1px solid #f44336;
    background: #f44336; }

/* MEDIA MOBILE */
a {
  text-decoration: none; }

h1 {
  font-size: 4rem; }

h2 {
  font-size: 3rem;
  font-weight: 600; }

.color-white {
  color: #fff; }

.of-h {
  overflow: hidden; }

@media (max-width: 700px) {
  h1 {
    font-size: 2.9rem; }
  h2 {
    font-size: 1.8rem; } }

/* HOME vh BACKGROUND */
.bg-img-home {
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(rgba(4, 9, 30, 0.6), rgba(4, 9, 30, 0.6)), url(../assets/background.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden; }

/* BG-BANNER-DOT */
/* BOTON-HOVER */
/* FLEXBOX [CONTAINER(ITEM)] */
/* CARD INICIO */
/* BORDER FOOTER */
.bd-lr {
  border-right: 1px solid #808080;
  border-left: 1px solid #808080; }

/* BACKGROUND REPEAT */
.bg-repeat {
  background-image: url("../assets/bgRepeat.jpg");
  background-repeat: repeat-x; }

.img-main {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 70vh; }

/* GRID GALERIA */
.grid-img {
  background-image: linear-gradient(-225deg, #3D4E81 0%, #5753C9 48%, #6E7FF3 100%);
  border-radius: 1rem;
  display: grid;
  text-align: center;
  justify-items: center;
  align-items: center;
  margin: 5rem 9rem;
  overflow: hidden;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: auto auto auto;
  grid-template-areas: "titulo titulo titulo titulo" "img1 img2 img2 img3" "img4 img2 img2 img5" "img6 img7 img8 img9"; }
  .grid-img .titulo-img {
    grid-area: titulo;
    color: #fff;
    margin: 3rem 0; }
    .grid-img .titulo-img h2 {
      font-size: 4rem; }
  .grid-img .img1 {
    grid-area: img1; }
  .grid-img .img2 {
    grid-area: img2; }
    .grid-img .img2 .imgMax {
      max-width: 100%;
      border-radius: 1rem; }
  .grid-img .img3 {
    grid-area: img3; }
  .grid-img .img4 {
    grid-area: img4; }
  .grid-img .img5 {
    grid-area: img5; }
  .grid-img .img6 {
    grid-area: img6; }
  .grid-img .img7 {
    grid-area: img7; }
  .grid-img .img8 {
    grid-area: img8; }
  .grid-img .img9 {
    grid-area: img9; }
  .grid-img .img-con {
    max-width: 150px; }

/* GRID NOSOTROS */
.bg-gradiente {
  background: linear-gradient(to right, #0f0c29, #302b63, #24243e); }

.grid-nosotros {
  display: grid;
  gap: 1rem;
  margin: 0rem 9rem 2rem;
  justify-items: center;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: auto auto auto;
  grid-template-areas: "titulo titulo titulo" "img1 img2 img3" "card1 card2 card3" "pie pie pie";
  text-align: center;
  overflow: hidden; }
  .grid-nosotros .titulo {
    grid-area: titulo;
    color: #fff;
    padding: 2rem; }
  .grid-nosotros .card1 {
    grid-area: card1;
    color: #fff; }
  .grid-nosotros .card2 {
    grid-area: card2;
    color: #fff; }
  .grid-nosotros .card3 {
    grid-area: card3;
    color: #fff; }
  .grid-nosotros .pie {
    grid-area: pie;
    color: #fff; }
  .grid-nosotros img {
    border-radius: 50%;
    max-width: 400px; }
  .grid-nosotros p {
    padding: 1.2rem;
    font-size: 1rem; }

@media (max-width: 700px) {
  .grid-img {
    margin: 0rem 0rem 0rem;
    grid-template-columns: 50% 50%;
    grid-template-areas: "titulo titulo" "img1 img3" "img4 img5" "img2 img2" "img6 img7" "img8 img9"; }
  .grid-nosotros {
    margin: 0rem 0rem 1rem;
    grid-template-columns: 100%;
    grid-template-areas: "titulo" "img1" "card1" "img2" "card2" "img3" "card3" "pie"; }
    .grid-nosotros .pie {
      margin: 0 0.5rem; }
    .grid-nosotros img {
      max-width: 300px; } }
