@import "config";

*{
	padding: 0;
	margin: 0;	
	font-family: 'Ubuntu', sans-serif;
	overflow-x: hidden;
}

.bgBody{
	min-height: 100vh;
	width: 100%;
	background-image: $gradient,url(../assets/background.jpg);
	background-position: center;
	background-size: cover;
	position: relative;	
}