
$shadow:0 0 20px 0px rgba(0,0,0,0.2);
$gradient:linear-gradient(rgba(4,9,30,0.6), rgba(4,9,30,0.6));
$primaryColor:#f44336;
$mobile: 700px;

a{text-decoration: none;}

/* HOME vh BACKGROUND */
.bgImg-home{
	width: 100%;
	min-height: 100vh;		
	background-image: $gradient,url(../assets/background.jpg);
	background-position: center;
	background-size: cover;
	position: relative;
}

/* MEDIA MOBILE */
@mixin mobile{
	@media (max-width: $mobile){
		@content
	}
}

/* BOTON-HOVER */
@mixin btn{	
	text-decoration: none;
	text-align: center;
	color: #fff;
	border: 1px solid #fff;
	padding: 1rem 2rem;
	font-size: 0.85rem;
	background: transparent;	
	cursor: pointer;
	transition: background 1s 0s ease, border 1s 0s ease;
		&:hover{
			border: 1px solid $primaryColor;
			background: $primaryColor;			
		}
}

/* FLEXBOX [CONTAINER(ITEM)] */
@mixin flex-container($direction, $just-cont){
	display: flex;
	flex-direction: $direction;
	flex-wrap: wrap;
	justify-content: $just-cont;

}

@mixin flex-item{

}

/* CARD INICIO */


@mixin flex-item-card{
	flex-basis:30%;
	background: #CDCDCD;
	border-radius: 10px;	
	padding: 15px 10px;
	box-sizing: border-box;	
	text-align: center;	
}

/* BORDER FOOTER */
.bd-lr{
	border-right: 1px solid #808080;
	border-left: 1px solid #808080;
}
/* BACKGROUND REPEAT */
.bg-repeat{
	background-image: url("../assets/bgRepeat.jpg");
	background-repeat: repeat-x;
}