
$shadow:0 0 20px 0px rgba(0,0,0,0.2);
$gradient:linear-gradient(rgba(4,9,30,0.6), rgba(4,9,30,0.6));
$primaryColor:#f44336;
$mobile: 700px;

/* MEDIA MOBILE */
@mixin mobile {
	@media (max-width: $mobile){
		@content
	}
}

a{text-decoration: none;}
h1{font-size: 4rem;}
h2{
	font-size: 3rem;
	font-weight: 600;
}
.color-white{color:#fff;}
.of-h{
	overflow: hidden;
}

@include mobile {
	h1{
		font-size: 2.9rem;
	}
	h2{
		font-size: 1.8rem;
	}
}

/* HOME vh BACKGROUND */
.bg-img-home{
	width: 100%;
	min-height: 100vh;
	background-image: $gradient,url(../assets/background.jpg);
	background-position: center;
	background-size: cover;
	position: relative;
	overflow: hidden;
}

/* BG-BANNER-DOT */
@mixin bg-dot{
	align-items: center;	
	background-color: #ffffff;	
	background-image:  radial-gradient(#f78a45 0.8px, transparent 0.8px), radial-gradient(#f78a45 0.8px, #ffffff 0.8px);
	background-size: 32px 32px;
	background-position: 0 0,16px 16px;
	}

/* BOTON-HOVER */
@mixin btn{	
	text-decoration: none;
	text-align: center;
	color: #fff;
	border: 1px solid #fff;
	padding: 1rem 2rem;
	font-size: 0.85rem;
	background: transparent;	
	cursor: pointer;
	transition: background 1s 0s ease, border 1s 0s ease;
		&:hover{
			border: 1px solid $primaryColor;
			background: $primaryColor;			
		}
}

/* FLEXBOX [CONTAINER(ITEM)] */
@mixin my-flex-container ($direction, $just-cont){	
	display: flex;
	flex-direction: $direction;
	flex-wrap: wrap;
	justify-content: $just-cont;
}

@mixin flex-item{

}

/* CARD INICIO */
@mixin flex-item-card{
	flex-basis:30%;
	background: #CDCDCD;
	border-radius: 10px;	
	padding: 15px 10px;
	box-sizing: border-box;	
	text-align: center;
	background: #C9CCD3;		
}

/* BORDER FOOTER */
.bd-lr{
	border-right: 1px solid #808080;
	border-left: 1px solid #808080;
}
/* BACKGROUND REPEAT */
.bg-repeat{
	background-image: url("../assets/bgRepeat.jpg");
	background-repeat: repeat-x;
}