@import "config";

/* NAVBAR */
nav{
	display: flex;	
	margin: 0 10rem;
	justify-content: space-between;
	align-items: center;
		img{			
			width: 50px;			
		}
}
.nav-links{
	flex: 1;
	text-align: right;
	margin: 2rem 0;
		ul li{
			list-style: none;
			display: inline-block;			
			position: relative;
			margin: 0 1rem;
				a{
					color: #fff;
					text-decoration: none;
					font-size: 13px;
					font-weight: 600;
				}			
		}	
}

.nav-links ul li::after{
	content: '';
	width: 0%;
	height: 2px;
	background: #f44336;
	display: block;
	margin: auto;
	transition: 0.5s;
}
.nav-links ul li:hover::after{
	width: 100%
}
/*	MEDIA MOBILE */
@include mobile{	
	.nav-links{
		margin: 0;
		position: absolute;
		background: #f44336;
		height: 100vh;
		width: 200px;
		top: 0;
		right: -200px;
		text-align: left;
		z-index: 3;
		transition: 1s;		
			ul{
				padding: 2rem;
					li{
						display: block;
						margin: 1rem 0 0;
					}
			}
	}
	nav{ 
		margin: 1rem 2rem;
		 .bi{
			display: block;
			color: #fff;
			margin: 10px;
			font-size: 22px;
			cursor: pointer;
		} 
	}
}
