@import "config";

/*BANNER MAIN*/
.rowMain{
	align-items: center;
	overflow: visible;
	min-height: 70vh;
	width: 100%;
		}
.row{
	@include flex-container(column, center);
		.box-main{
			overflow: visible;
				color: #fff;
						text-align: center;						
							h1{
								font-size: 4rem;			
							}
							p{
								font-size: 1rem;
								margin: 10px 5px 40px;
							}
							.boton-main{
								@include btn;							
							}					
		}		
}
@include mobile{
	.row{
		.box-main{
			h1{
				font-size: 3rem;
			}
		}
	}
}

nav{
	.bi{
		display: none;		
	}	
}
/* BANNER PRODUCTOS */
.row{
	@include flex-container(row, center);	
		.item-column{			
			box-sizing: border-box;
			padding: 20px 12px;			
			background: rgba(255, 243, 243, 0.8); 
			flex-basis: 40%;
			display: flex;
			justify-content: center; 
			align-items: center;
				h2{					
					margin: 10%;
					font-size: 3rem;									
					text-align: start;			
				}
				img{					
					max-width: 70%;
					border-radius: 50%;					
				}
		}		
}

/*	MEDIA MOBILE */
@include mobile {
	.row{
		flex-direction: column;
			.item-column{				
					h2{
						text-align: center;
						font-size: 1.8rem;
						margin: 5%;
					}
			}
	}
}

/* GRID PRODUCTOS */
.bgZigZag{
	background-color: #ffffff;
	opacity: 0.7;
	background-image:  radial-gradient(#f78a45 0.8px, transparent 0.8px), radial-gradient(#f78a45 0.8px, #ffffff 0.8px);
	background-size: 32px 32px;
	background-position: 0 0,16px 16px;
}
.title-productos{
	color:	rgba(0, 0, 0, 1);
	margin: 2rem auto;
	padding: 3rem auto;
}
.grid-container{
	display: grid;
	grid-template-columns: 33% 33% 33%;
	background: linear-gradient(to right, #FFFFFF, #ECE9E6);	
	gap:20px;	
	justify-items: center;
	align-items: baseline;
	overflow: hidden;	
		.grid-item{
			text-align: center;		
				a{
					color:#000000;	
						img{
							max-width: 300px;
							max-height: 200px;								
						}
				}
		}		

}
@include mobile {
	.grid-container{
		grid-template-columns: 100%;
		row-gap: 3rem;
	}
}

/* BANNER SERVICIOS */
.bgGradient{
	background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
}
.row{
	.servicios{	
		@include flex-container(column, center);
		width: 80%;
		margin: 1.5rem auto;
		text-align: center;
		color: #fff;
			h1{
				font-size: 2rem;					
			}
	}
}
/* SERVICIOS MAIN CARD */
.row{
	overflow: visible;
	.flex-item-card{	
		@include flex-item-card;				
		margin: 0 1rem 2rem;
		transition: all 0.4s 0s ease;				
			&:hover{
				box-shadow: 0 0 30px rgba(0,0,0, 0.8);
				transform: scale(1.1);
							
			}
			h3{
				margin-bottom: 0.8rem;
			}
			img{
				border-radius: 10px;
				width: 100%;
				margin-bottom: 1rem;
			}
			p{
				font-weight: 400;
				color: #000000;
			}			
	}
	.btn-info{
		@include btn;
		margin: 0 3rem 1.5rem;
		padding: 1rem 6rem;
	}
}


